// Kleuren
$primary-color: #2e86de;
$accent-color: #00C2CB;
$text-color: #212529;
$button-color: #007bff;
$hover-color: #eee;
$background-color: #F8F9FA;
$white: #fff;
$navbar-text: #333;
$navbar-bg: #F8F9FA;

// Typografie
$font-stack: 'Arial', sans-serif;

// Overige
$border-radius: 8px;
$box-shadow: 0 4px 12px rgba(0, 158, 166, 0.2);